.header {
  font-weight: 500;
  font: var(--tui-font-text-xl);
}

.busStations {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.busStationsHeader {
  font: var(--tui-font-text-m-2);
}

.busStationBadge {
  background: var(--tui-primary);
  color: var(--tui-primary-text);
  width: 30px;
  padding-top: 3px;
  padding-bottom: 3px;
  display: flex;
  justify-content: center;
  border-radius: 3px;
  flex-shrink: 0
}