.filterMenu {
  position: fixed;
  top: 0;
  left: 0;
  margin-left: 20px;
  margin-top: 20px;
  box-shadow: var(--tui-shadow);
  background: var(--tui-base-01);;
}
.stops {
  position: fixed;
  top: 0;
  right: 0;
  margin-right: 20px;
  margin-top: 20px;
  box-shadow: var(--tui-shadow);
  background: var(--tui-base-01);;
}

mgl-map {
  height: 100vh;
  width: 100%;
}

.empty-buses-warning {
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  margin-top: 25px;
  box-shadow: var(--tui-shadow);
  background: var(--tui-base-01);
}