@if (isEmptyBusesPositions$ | async) {
  <app-controller position="center">
    <ion-button
      tuiButton
      icon="tuiIconAlertTriangle"
      appearance="accent"
      class="emptyWarning"
      (click)="promptClearFilter()"
      size="s">
      Транспорт не найден
    </ion-button>
  </app-controller>
}
<app-controller position="left">
  <ion-button class="filterMenu" (click)="openFilter()">
    <ion-icon slot="icon-only" name="menu"></ion-icon>
  </ion-button>
</app-controller>

<ion-menu #menu>
  <rx-virtual-scroll-viewport [itemSize]="40">
    <div *rxVirtualFor="let item of form$; trackBy: trackBy" class="scrollItem">
      @switch (item.type) {
        @case ('all') {
          <button class="filter" (click)="item.onChange()">
            Весь транспорт
            <ion-checkbox
              class="noClick"
              [checked]="item.value | async"></ion-checkbox>
          </button>
        }
        @case ('group') {
          <button class="filter" (click)="item.onChange()">
            {{ groupToName($any(item.group)) }}
            <ion-checkbox
              class="noClick"
              [checked]="item.value | async"></ion-checkbox>
          </button>
        }
        @case ('item') {
          <button (click)="item.onChange()" class="filter">
            <div class="filter-description">
              <div class="filter-description-route-icon">
                <span class="tui-text_body-s-2">{{ item.data.routeNum }}</span>
              </div>
              {{ itemToName(item.data.type) }}
            </div>
            <ion-checkbox
              class="noClick"
              [checked]="item.value | async"></ion-checkbox>
          </button>
        }
      }
    </div>
  </rx-virtual-scroll-viewport>
</ion-menu>
